nav {
    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
    background: transparent;
}

.list {
    list-style-type: none;
    background: transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: aqua;
}
.items {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
}


.items:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}
  
.items:hover:after {
    width: 100%;
    background: #ffffff;
}
  
.items .active{
    color: #ff1e00;
    
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
}
@media screen and (max-width: 500px){

    .list {
        flex-direction: column;
        height: auto;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    

}